<!--home.handlebars-->
<h1>Search For GIFFFS</h1>
<form class="search" action="/">
    <input type="text" name="term">
    <button type="submit">Search</button>
</form>
<div class="gifs">
{{#each gifs}}
    <img src="{{this.images.fixed_height.url}}">
{{/each}}
</div>
